
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    margin:0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(./images/bg-intro-desktop.png);
    background-color:  hsl(0, 100%, 74%); 
    background-size:100% 100%;
    display: flex;
}

.right {
   width: 50%;
   height: 100%;
   padding: 5% 15% 5% 2%;
}

.left {
    width: 50%;
    height: 100%;
}

.text {
    margin: 40% 6% 10% 25%;
}

.text h1{
    font-size: 3vmax;
    line-height: 1.2em;
}

.text p {
    font-size: 1.1vmax;
}

form {
    height: 85%;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.f1 {
  margin-left: 6%;
  margin-right: 6%;
}

input {
    font-size: 14px;
    width: 100%;
    padding: 4% 8%;
    border-radius: 5px;
    font-weight: 700;
    border: 1.3px solid gray;
    color: black;
}

button {
    font-size: 14px;
    width: 100%;
    padding: 4%;
    border-radius: 5px;
    border: none;
    margin-bottom: 0px;
    background-color:  hsl(154, 59%, 51%);
    font-weight: 400;
    cursor: pointer;
    border-bottom: 4px solid hsl(154, 59%, 45%);
}

.info {
   font-size: 0.9vmax;
   padding: 0px 3%;
   color: hsl(246, 25%, 77%);
   font-weight:400;
}

span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.upper {
   padding: 4%;
   background-color:  hsl(248, 32%, 49%) ;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   font-weight: 800;
  
}

.t1 {
    color: white;
    font-weight: 200;
}


.f1.error input {
    border-color: red;
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position-x:95%;
    background-position-y: center;
    
}

.f1.success input {
    border-color: green;
}

.f1 .error {
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: end;
    
}

.f1 input:focus{
    outline: 0;
}



@media (max-width:400px) {

    .main {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        
        background-image: url(./images/bg-intro-mobile.png);
        
    }
    
    .left {
        
        width: 100%;
        height: 35%;
        
    }


    .text {
       
        margin: 12% 12%;
    }
    .text h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .text p {
        font-size: 0.9em;
        text-align: center;
    }

    .right {
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
       padding: 0% 8% 8% 8%;

    }
    
    form {
        width: 100%;
        margin-right:0px;
        
    }

    .upper {
        padding: 4% 20%;
        text-align: center;
        font-size: 14px;
    }
}

